body { background: #2b091a;
    font: normal 15pt sans-serif; 

}
header{
    color:#fafad2;
    text-align: center;


}
section{
    background: #fafad2;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color:#2f4f4f;
    box-shadow: #161016;
    
}
footer{
    color: #000000;
    text-align: center;font-style: italic;

}  div {
    text-align: center;
    padding: 5px;
  }
  